.default-chat {
  display: flex;
  flex: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  border: solid blue 1px;
  font-weight: bold;
  font-style: italic;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 220px) {
  .default-chat {
    display: none;
  }
}
