.app {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.app-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.app-text {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 20px;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar {
  height: auto;
  flex-shrink: 0;
  padding: 4px;
  border: white;
}

.chats {
  margin-left: 10px;
  margin-right: 20px;
  position: absolute;
  height: calc(100% - 160px);
  width: calc(100% - 200px);
}

.footers {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1000px) {
  .chats {
    width: 488px;
  }
}
