.app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #0f172a, #334155, #125e7a);
  background-size: 400% 400%;
  animation: gradientTransition 4s ease infinite;
}

@keyframes gradientTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.app-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.app-text {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 20px;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar {
  height: auto;
  flex-shrink: 0;
  padding: 4px;
  border: white;
}

.chats {
  margin-left: 10px;
  margin-right: 20px;
  position: absolute;
  height: calc(100% - 160px);
  width: calc(100% - 200px);
}

.footers {
  width: 100%;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
